# See https://help.github.com/ignore-files/ for more about ignoring files.
/.idea
grafana-9.3.2
prometheus-2.41.0.linux-amd64

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
